<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/header::header">
    <title id="title">Cart Checkout</title>
</head>

<body>
<div class="wrapper">
    <nav th:insert="fragments/sidebar::sidebar"></nav>
    <div id="content" class="container-fluid">
        <nav th:insert="fragments/navbar::navbar"></nav>

        <h1>Shopping Cart</h1>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID#</th>
                <th scope="col">Name</th>
                <th scope="col">Photo</th>
                <th scope="col">Department</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sub Total</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartMap : ${session.cart}">
                <th:block th:each="cartItem : ${cartMap}">
                    <td th:text="${cartItem.value.product.id}"></td>
                    <td th:text="${cartItem.value.product.name}"></td>
                    <td><img th:src="${cartItem.value.product.imageUrl}" style="width: 50px;"/></td>
                    <td th:text="${cartItem.value.product.department}"></td>
                    <td th:text="${cartItem.value.product.category}"></td>
                    <td th:text="'$'+${cartItem.value.product.price}"></td>
                    <td th:text="${cartItem.value.quantity}"></td>
                    <td th:text="'$'+${cartItem.value.product.price * cartItem.value.quantity}" name="subtotal" th:value="${cartItem.value.product.price * cartItem.value.quantity}"></td>
                </th:block>
            </tr>
            <tr>
                <td colspan="6"></td>
                <td><h5>Total</h5></td>
                <td colspan="2" id="total" class="h5"></td>
            </tr>
            </tbody>
        </table>
        <div align="right">
            <a class="btn btn-success" th:href="@{/index}">Continue
                Shopping</a>
            <a class="btn btn-primary" th:href="@{/cart}">Back to Shopping Cart</a>
        </div>

        <h1>Shipping Info</h1>
        <table class="table table-striped table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone#</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zip Code</th>
                <th scope="col">Country</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.phone}"></td>
                <td th:text="${customer.address.address}"></td>
                <td th:text="${customer.address.city}"></td>
                <td th:text="${customer.address.state}"></td>
                <td th:text="${customer.address.zipcode}"></td>
                <td th:text="${customer.address.country}"></td>
            </tr>
            </tbody>
        </table>
    <div align="right">
        <a class="btn btn-warning" th:href="@{|customer/edit/${customer.id}|}">Update Shipping Info</a>
        <a class="btn btn-primary" id="order" href="#">Finalize Checkout</a>
    </div>

        <h1>Payment</h1>
        <form action="#" th:action="@{/order}" th:object="${order}" method="post">
            <div class="form-group">
                <label for="total">Total</label>
                <input id="order-total" type="text" th:field="*{total}" class="form-control" placeholder="Total" readonly>
            </div>
            <div class="form-group">
                <label for="payment">Credit Card Number 4929097446579597</label>
                <input type="text" th:field="*{payment}" class="form-control" id="payment" placeholder="">
                <p th:if="${#fields.hasErrors('payment')}" th:errors="*{payment}">Card Error</p>
            </div>
            <div align="right">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>
</div>

<div th:insert="fragments/footer::footer"></div>
<script th:inline="javascript">
/*<![CDATA[*/

  var x = document.getElementsByName("subtotal");
        var total = 0.0;
        x.forEach(element => {
            total += parseFloat(element.getAttribute("value"));
        });
        var a = document.getElementById("total");
        a.textContent = '$'+total.toFixed(2);
        var x = document.getElementById("order");
        x.setAttribute("href", "/order/save/"+total.toFixed(2));
        var y = document.getElementById("order-total");
        y.setAttribute("value",total.toFixed(2));

/*]]>*/

</script>
</body>
</html>