<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Eshop Login</title>
</head>

<body>
<div class="jumbotron jumbotron-fluid login">
    <div class="container" style="text-align: center">
        <h1 class="display-4">Eshop</h1>
        <p class="lead">Wonderful everything...</p>
            <form th:action="@{/login}" method="post">
                <p><input type="text" name="username" placeholder="Username"/></p>
                <p><input type="password" name="password" placeholder="Password"/></p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        <br>
        <div>
            <h1>ADMIN</h1>
            <p>username: admin</p>
            <p>password: admin</p>

            <br>
            <h1>USER</h1>
            <p>username: user</p>
            <p>password: user</p>
        </div>
            <div th:if="${param.error}">
                Invalid credentials.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>