<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:insert="fragments/header::header">
    <title id="title">Customer</title>
</head>

<body>
<div class="wrapper">
    <nav th:insert="fragments/sidebar::sidebar"></nav>
    <div id="content" class="container-fluid">
        <nav th:insert="fragments/navbar::navbar"></nav>
        <h1>Account Details</h1>
        <div class="user-info">
            <div class="card" id="info">
                <div class="card-body">
                    <h3 class="card-title" th:text="${customer.username}"></h3>
                    <p class="card-text">First name: <span th:text="${customer.firstName}"></span></p>
                    <p class="card-text">Last name: <span th:text="${customer.lastName}"></span></p>
                    <p class="card-text">Phone #: <span th:text="${customer.phone}"></span></p>
                    <hr>
                    <h5 class="card-title">Shipping Address</h5>
                    <p class="card-text">Address: <span th:text="${customer.address.address}"></span></p>
                    <p class="card-text">City: <span th:text="${customer.address.city}"></span></p>
                    <p class="card-text">State: <span th:text="${customer.address.state}"></span></p>
                    <p class="card-text">Zip code: <span th:text="${customer.address.zipcode}"></span></p>
                    <p class="card-text">Country: <span th:text="${customer.address.country}"></span></p>
                    <a th:href="@{|customer/edit/${customer.id}|}" class="btn btn-warning">Update Info</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/footer::footer"></div>
</body>
</html>